.alert {
    color: #ff9900;
}


/*
body {
    color: #ccc;
    background-color: #111;
}


input,
button {
    color: #ccc;
    background-color: #333;

    &:hover {
        color: #e2e2e2;
        background-color: #444;
    }
}


button {
    &:active {
        color: #ffffff;
        background-color: #666;
    }

    &[disabled] {
        color: #666;
        background-color: #444;
    }
}


table {
    th {
        color: #666;
    }

    td {
        border-color: #666;
    }

    tr:hover,
    tr:focus {
        td {
            background-color: #1f1f1f;
        }
    }
}


.alert {
    color: #ff9900;
}
*/
