body {
    color: #2a2f36;
    background-color: #dce0e7;
}


input,
textarea,
button {
    color: #222529;
    background-color: #b9c6d8;

    &:hover {
        color: #1c3557;
        background-color: #a6bbd6;
    }
}


button {
    &:active {
        color: #174686;
        background-color: #93aed3;
    }

    &[disabled] {
        color: #54595f;
        background-color: #d3d3d3;
    }
}

// ------------------------------------------------------------------------------------------------

.timer {
    background-color: #f0f3f7;

    .label,
    .cycle,
    .cycleElapsed {
        color: #174686;
    }

    .label,
    .ctrl {
        border-color: #c8cdd3;
    }

    .alert {
        color: #cf4c00;
    }
}
