body,
label,
input,
textarea,
button {
    font-family: sans-serif;
    font-size: 1rem;
}


h1 {
    font-family: serif;
    font-size: .7rem;
    font-weight: bold;
}


h2 {
    font-family: serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}


p {
    margin-bottom: .5rem;
}


a {
    &:link,
    &:visited {
        text-decoration-line: underline;
        text-decoration-style: dashed;
    }

    &:hover,
    &:focus {
        text-decoration-line: none;
        text-decoration-style: dashed;
    }

    &:active {
        text-decoration-line: underline;
        text-decoration-style: wavy;
    }
}


label {
    font-weight: bold;
}


small,
code {
    font-size: .8rem;
}


code {
    font-family: monospace;
}


input,
textarea,
button {
    padding: .25rem .5rem;
    border-radius: .25rem;
    vertical-align: top;
}


input {
    width: 13rem;

    &[type=range] {
        width: 11rem;
    }
}


textarea {
    width: 13rem;
    height: 5rem;
    white-space: pre-line;
}


button {
    font-weight: bold;
    cursor: pointer;
}

// ------------------------------------------------------------------------------------------------

.app {
    padding: 1rem;
}


.timers {
    margin: 0 0 6rem 0;
}


.timer {
    display: inline-block;
    margin: 0 1rem 1rem 0;
    padding: .5rem;
    border-radius: .25rem;
    vertical-align: top;
    text-align: center;

    div {
        margin: 0 0 .25rem 0;
    }

    .cycleElapsed,
    .alertAfter {
        display: inline-block;
    }

    .label {
        font-family: serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 0 .5rem 0;
        border-bottom: 1px solid;
    }

    .cycle {
        font-family: serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin: .5rem 0 .5rem 0;
        vertical-align: middle;
    }

    .cycleElapsed {
        font-family: monospace;
        font-size: 1.3rem;
        font-weight: bold;
        vertical-align: middle;
    }

    .alertAfter {
        font-family: monospace;
        font-variant-position: super;
    }

    .totalElapsed {
        font-family: monospace;
        font-size: 1.3rem;
        margin: .5rem 0 0 0;
    }

    .averageElapsed {
        font-family: monospace;
        font-style: italic;
        margin: .5rem 0 0 0;
    }

    .ctrl {
        padding: .5rem 0 0 0;
        margin: .5rem 0 0 0;
        border-top: 1px solid;

        button {
            margin: 0 0 0 .5rem;

            &:first-child {
                margin: 0;
            }
        }

        // .start {}
        // .reset {}
        // .stop {}
        // .delete {}
    }

    .label,
    .alertAfter,
    .cycle,
    .cycleElapsed,
    .totalElapsed,
    .averageElapsed {
        cursor: help;
    }
}


.add-new-form {
    margin: 0 0 2rem 0;
}


// .import-set-form {}


.footer {
    font-family: serif;
    font-size: .8rem;
    margin: 8rem 0 1rem 0;
    text-align: center;
}


.hidden {
    display: none;
}
