html,
body,
h2,
div,
p,
label,
small,
code,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: geometricPrecision;
}

input,
textarea,
button {
  outline: none;
}

body,
label,
input,
textarea,
button {
  font-family: sans-serif;
  font-size: 1rem;
}

h2 {
  font-family: serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

p {
  margin-bottom: 0.5rem;
}

label {
  font-weight: bold;
}

small,
code {
  font-size: 0.8rem;
}

code {
  font-family: monospace;
}

input,
textarea,
button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  vertical-align: top;
}

input {
  width: 13rem;
}
input[type=range] {
  width: 11rem;
}

textarea {
  width: 13rem;
  height: 5rem;
  white-space: pre-line;
}

button {
  font-weight: bold;
  cursor: pointer;
}

.app {
  padding: 1rem 0 0 1rem;
}

.timers {
  margin: 0 0 6rem 0;
}

.timer {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  vertical-align: top;
  text-align: center;
}
.timer div {
  margin: 0 0 0.25rem 0;
}
.timer .cycleElapsed,
.timer .alertAfter {
  display: inline-block;
}
.timer .label {
  font-family: serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid;
}
.timer .cycle {
  font-family: serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0 0.5rem 0;
  vertical-align: middle;
}
.timer .cycleElapsed {
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: bold;
  vertical-align: middle;
}
.timer .alertAfter {
  font-family: monospace;
  font-variant-position: super;
}
.timer .totalElapsed {
  font-family: monospace;
  font-size: 1.3rem;
  margin: 0.5rem 0 0 0;
}
.timer .averageElapsed {
  font-family: monospace;
  font-style: italic;
  margin: 0.5rem 0 0 0;
}
.timer .ctrl {
  padding: 0.5rem 0 0 0;
  margin: 0.5rem 0 0 0;
  border-top: 1px solid;
}
.timer .ctrl button {
  margin: 0 0 0 0.5rem;
}
.timer .ctrl button:first-child {
  margin: 0;
}
.timer .label,
.timer .alertAfter,
.timer .cycle,
.timer .cycleElapsed,
.timer .totalElapsed,
.timer .averageElapsed {
  cursor: help;
}

.add-new-form {
  margin: 0 0 2rem 0;
}

.hidden {
  display: none;
}

body {
  color: #2a2f36;
  background-color: #dce0e7;
}

small {
  color: #54595f;
}

code {
  font-family: monospace;
  background-color: #c8cdd3;
}

input,
textarea,
button {
  color: #222529;
  background-color: #b9c6d8;
}
input:hover,
textarea:hover,
button:hover {
  color: #1c3557;
  background-color: #a6bbd6;
}

button:active {
  color: #174686;
  background-color: #93aed3;
}
button[disabled] {
  color: #54595f;
  background-color: #d3d3d3;
}

.timer {
  background-color: #f0f3f7;
}
.timer .label,
.timer .cycle,
.timer .cycleElapsed {
  color: #174686;
}
.timer .label,
.timer .ctrl {
  border-color: #c8cdd3;
}
.timer .alert {
  color: #cf4c00;
}
