html,
body,
h1,
h2,
div,
p,
label,
small,
code,
input,
textarea,
select,
button {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    min-height: 100vh;
    line-height: 1;
    text-rendering: geometricPrecision;
}


input,
textarea,
select,
button {
    outline: none;
}
